.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: var(--padding-100)
}

.footer ul{
    list-style: none;
}

.subscription{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 var(--padding-100);
}

.subscription__box{
    display: flex;
    position: relative;
    background-color: var(--footer);
    color: var(--white);
    height: 200px;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--padding-100);
    border-radius: 10px;
    gap: 50px;
}

.box__text {
    width: 50%;
}

.box__input {
    position: relative;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
    width: 350px;
    border-radius: 5px;
    padding: 0 5px;
}
  
.box__input input[type="email"] {
    font-size: 12px;
    border: none;
    outline: none;
    width: 250px;
    height: 50px;
    padding: 0 5px;
}
  
.box__input button {
    position: relative;
    border: none;
    background-color: #ffa500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    height: 40px;
    width: 100px;
}

.box__input input[type="email"]::placeholder {
  font-size: 12px;
  text-align: left;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    background-color: var(--footer);
    color: var(--white);
    padding: 50px var(--padding-100);
}

.footer__content > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.context{
    align-self: center;
}

.footer__content > * ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social__media{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-self: end;
}

.copyright{
    display: none;
    text-align: center;
    color: white;
    background-color: var(--footer);
    margin-top: 50px;
    padding: var(--padding-card);
}

@media (max-width: 1280px) {
    .footer__content{
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        gap: 50px;
    }
}

@media (max-width:1024px){
    .subscription__box{
        gap: 20px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .box__text{
        width: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}
@media (max-width:768px){
    footer{

        font-size: 12px;
    }
    .footer__content{
        display: none;
    }

    .copyright{
        display: block;
    }

    .subscription__box{
        justify-content: space-around;
    }

    .box__text{
        padding: 0 10px;
        width: 100%;
    }

    .footer__content .context, .contact__us{
        width: 200px;
    }

    .about__us{
        width: 150px;
    }

    .social__media{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0;
    }
}
@media (max-width: 600px) {
    footer{
        --padding-100: 20px;
    }
    .subscription__box{
        padding: 0;
    }
}
@media (max-width:430px){
    .subscription__box{
        flex-direction: column;
    }

    .box__input{
        flex-direction: column;
        background-color: transparent;
        gap: 5px;
        width: auto;
    }

    .box__input input[type="email"]{
        border-radius: 5px;
        width: 80vw;
    }

    .box__input button{
        position: relative;
        width: 80vw;
    }

    .footer__content{
        justify-content: center;
    }
    .about__us, .contact__us{
        display: none;
    }
}
