nav {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary);
    color: var(--white);
    height: 80px;
    width: 100%;
    z-index: 10;
    padding: 5px var(--padding-100);
}

.menu ul{
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu ul > *{
    cursor: pointer;
}

.menu ul li a{
    text-decoration: none;
    color: var(--white);
    border-bottom: 1px solid transparent;
    transition: border-bottom ease-in 0.15s;
}

.menu ul li a:hover{
    border-bottom: 1px solid var(--white);
}

ul > .contact-button{
    background-color: white;
    border: none;
    width: 100px;
    height: 40px;
    color: var(--secondary);
    border-radius: 3px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin-bottom: 5px;
    background-color: var(--white);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
    .hamburger{
        display: block;
    }

    .menu {
        display: none;
    }

    .open {
        display: flex;
        width: 100%;
        background-color: var(--secondary);
        position: absolute;
        right: 0;
        top: 80px;
        width: 50vw;
        height: calc(100vh - 80px);
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: translateX(50px);
        animation: fadeIn 0.5s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .open ul{
        display: flex;
        flex-direction: column;
    }    
}

.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}