@media (max-width: 1600px){
}

@media (max-width:1366px){
    .hero .left, .hero .right{
        height: 100vh;
    }

    .news-content{
        flex-direction: column;
        gap: 50px;
    }

    .news-content .left, .news-content .right{
        width: 80vw;
        align-self: center;
        padding: 0;
        justify-content: center;
        align-items: center;
    }

    .news-content .left img{
        width: 80vw;
        height: 100%;
    }

    .news-thumbnail{
        justify-content: flex-start;
        padding: 0;
        width: 100%;
    }
}

@media (max-width:1200px){
    .service__items{
        grid-template-columns: repeat(2, 1fr);
    }

    .service__items > :nth-child(5) {
        grid-column-start: 1;
    }

    .hero img[alt=map]{
        width: 80vw;
    }

    .hero > .how-to-contact{
    flex-direction: column;
    gap: 50px;
    justify-self: start;
    align-items: start;
    width: 80vw;

    }
    .how-to-contact > line{
    width: 80vw;
    height: 2px;
    }
    .mailing .top-vector, .bot-vector{
        max-width: 80vw;
    }

    .mailing

    .form{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 768px) {
    body{
        --padding-100: 50px;
    }
    .hero{
        justify-content: center;
    }
    .hero-image, .hero-content p{
        display: none;
    }

    .hero-content{
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .hero-content h1{
        font-size: 50px;
    }

    .service__items .item{
        width: auto;
        gap: 20px;
    }

    .product__description{
        display: none;
    }

    .project__description{
        flex-direction: column;
        gap: 50px;
    }

    .project__description__text > .hero-button{
        align-self: center;
    }
    
    .hero > .right{
        display: none;
    }

    .hero > .left {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-background > .cards-container > .card{
        height: max-content;
        justify-self: flex-start;
        align-self: start;
    }

    .team-image > img{
        height: 300px;
        width: 300px;
        justify-content: center;
        align-items: center;
    }

    .team-background{
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .our-team > .team-members{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 50px;
        justify-content: space-between;
        align-items: center;
    }

    .member-card{
        width: 250px;
        height: 250px;
    }

    .brand-images{
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 50px;
    }

    .service-description{
        flex-direction: column;
    }

    .video img{
        width: 70%;
        height: 70%;
    }

    .video {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .services-container > .item > img{
        width: 50%;
        height: 50%;
    }

    .services-container > .item {
        flex-direction: column;
        gap: 50px;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .item-content > button{
        align-self: center;
    }

    .services-container > .item:nth-child(2){
        flex-direction: column;
    }

    .sliders{
        flex-direction: column;
        gap: 50px;
    }

    .news-content > .right > .news-thumbnail{
        padding: 0;
        gap: 50px;
    }

    .how-to-contact > .contact-detail{
        align-items: start;
        justify-content: start;
        text-align: center;
        gap: 50px;
    }

    .contact-detail:nth-child(1){
        flex-direction: row-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .how-to-contact img{
        width: 30px;
    }

    .how-to-contact > .contact-detail > .soc-med img{
        width: 10vw;
    }

    .mailing > .form{
        padding: 0;
    }

    /* about us */

    .hero .right{
        display: none;
    }

    .hero .left{
        height: 80vh;
        justify-content: space-between;
    }

    /* services */


    /* news */

    .hero .search-bar{
        width: 80vw;
    }

    .search-bar img{
        width: 5%;
    }

    .left img{
        width: 80vw;
        align-self: center;
    }
}

@media (max-width:600px){
    .service__items .item h1{
        font-size: 18px;
    
    }
    .service__items .item img{
        width: 50px;
    }

    .service__items .item img[alt=Button]{
        width: 30px;
    }

    .description .images .svg{
        display: none;
    }

    /* about us */

    .about-background .cards-container{
        flex-direction: column;
    }

    .about-background .cards-container .card{
        width: 100%;
    }

    .our-team .team-members{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .our-team .team-members .member-card{
        width: 100%;
    }

    .testimonials .brand-images {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 50px;
    }

    .testimonials .brand-images img{
        height: auto;
        width: 20%;
        align-self: center;
        justify-self: center;
    }

    .team-background{
        display: none;
    }

    /* services */
    .hero .achievements{
        flex-direction: column;
    }

    .achievements line{
        width: 80%;
        height: 2px;
    }

    .achievements .achievement-data{
        width: 200px;
        gap: 0;
    }

    .achievement-data .caption, .achievement-data .total{
        width: 100px;
    }

    /* news */
    .right{
        justify-content: center;
        align-items: center;
    }
    .news-content > .right > .news-thumbnail{
        flex-direction: column;
        width: 80vw;
        justify-content: center;
        gap: 5px

    }

    .news-thumbnail img{
        align-self: center  ;
    }
}

@media (max-width: 400px){
    *, body, html{
        --padding-100: 20px;
    }
    .service__items{
        display: flex;
        flex-direction: column;
    }

    /* about us */

    .testimonials .brand-images{
        display: flex;
        flex-direction: column;
    }

    /* services */
    .achievement-data .caption, .achievement-data .total{
        width: 50px;
    }

    .achievements .achievement-data{
        width: 100px;
    }

    .sliders .slider{
        width: 80%;
        height: max-content;
    }

    /* news */

    /* contact */
    .how-to-contact > .contact-detail{
        width: 80vw;
        align-items: center;
        justify-content: center;/
    }
    .how-to-contact > .contact-detail:first-child{
        flex-direction: column-reverse;
    }

    .how-to-contact > .contact-detail > .soc-med img{
        width: 50px;
    }

    .how-to-contact > .contact-detail{
        gap: 5px;
    }
}