:root {
    --secondary: #DC7000;
    --accent: #F5F5F5;
    --white: #FFFFFF;
    --footer: #1B1B1B;
    --bg: url("assets/bg.png");
}

*, html, body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

.pre{
    white-space: pre-line;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: var(--secondary);
    color: var(--white);
    height: 80px;
}

nav .menu ul{
    display: flex;
    list-style: none;
    gap: 50px;
    align-items: center;
}

nav .menu ul > *{
    cursor: pointer;
}

.menu ul li a{
    text-decoration: none;
    color: var(--white);
    border-bottom: 1px solid transparent;
    transition: border-bottom ease-in 0.15s;
}

.menu ul li a:hover{
    border-bottom: 1px solid var(--white);
}

ul > .contact-button{
    background-color: white;
    border: none;
    width: 100px;
    height: 40px;
    color: var(--secondary);
    border-radius: 3px;
}

section{
    min-height: 100vh;
}

.hero{
    background-image: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40vw;
}

.hero-content > h3{
    color: var(--secondary);
}

.hero-content > h1{
    font-size: 60px;
}

.hero-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--secondary);
    height: 50px;
    width: 200px;
    border-radius: 50px;
    color: var(--white);
}

.hero-image {
    max-width: 50vw;
}

.service{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 0;
}

.description {
    position: relative;
    margin: 0 100px;
    width: auto;
    text-align: left;
    width: 1370px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image{
    position: relative;
}

.description .svg{
    position: absolute;
    right: 0;
    top: -20px;
    z-index: -1;
}

.service {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 100px;

}

.service__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;

}

.service__items {
    display: grid;
    padding: 0 50px;
    grid-template-columns: repeat(4 , 1fr);
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.service__items > :nth-child(5) {
    grid-column-start: 2;
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.products{
    display: flex;
    align-items: center;
    justify-content: center;
}

.product{
    background-color: var(--accent);
}

.product__description {
    padding: 75px 100px;
    display: flex;
    justify-content: space-between;
}

.product__cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 50px 0;
    width: 99vw;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.product__cards::-webkit-scrollbar {
    display: none;
}

.card {
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 0 auto;
}

.card .label {
    font-size: 1rem;
    padding: 5px 16px;
    margin-bottom: 16px;
    width: fit-content;
    border-radius: 5px;
}

.card h1 {
    font-size: 1.25rem;
    margin-bottom: 16px;
    color: #333;
    font-weight: normal;
}

.card p {
    font-size: 0.9rem;
    margin-bottom: 16px;
}

.card a {
    color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
    align-self: flex-end;
}

.read-more-button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow__button{
    display: flex;
    gap: 50px;
}

.arrow__button > img {
    cursor: pointer;
}

.project{
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.project__header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
}
.project__items{
    padding: 0 200px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.project__items .item > img{
    height: 250px;
}

.project__description{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
}

.project__description__image{
    flex: 1;
    width: 30vw;
}

.project__description__text{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 50px;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subscription{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 200px;
}

.subscription__box{
    display: flex;
    position: relative;
    background-color: var(--footer);
    color: var(--white);
    height: 200px;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.box__input {
    position: relative;
    font-family: Arial, sans-serif;
}
  
.box__input input[type="email"] {
    padding: 15px 25px 15px 15px;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    width: 250px;
    padding-right: 80px;
}
  
.box__input button {
    position: absolute;
    top: 6.5px;
    right: 6px;
    padding: 10px 20px;
    border: none;
    background-color: #ffa500;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}
  
.box__input input[type="email"]:focus {
    border-color: #ffa500;
}

.box__input input[type="email"]::placeholder {
  font-size: 12px;
  text-align: left;
}
  
.box__input button:hover {
    background-color: #ff8700;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--footer);
    color: var(--white);
    padding: 50px 100px;
}

.footer__content > * {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__content > * ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.social__media{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-self: end;
}